@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'The Seasons';
    font-style: normal;
    src: url('/fonts/The\ Seasons\ Regular.ttf');
}

@font-face {
    font-family: 'The Seasons Italic';
    font-style: normal;
    src: url('/fonts/The\ Seasons\ Italic.ttf');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    src: url('/fonts/SFPRODISPLAYMEDIUM.OTF');
}
.the-seasons-light {
    font-family: 'The Seasons';
}

.the-seasons-italic {
    font-family: 'The Seasons Italic';
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.items {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.item{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.item-active {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.item-active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-text::selection {
    color: white;
    background: #4876b6a7;
}

.hero-text {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
}