@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



#scroll-down {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'The Seasons';
    font-style: normal;
    src: url('/fonts/The\ Seasons\ Regular.ttf');
}

@font-face {
    font-family: 'The Seasons Italic';
    font-style: normal;
    src: url('/fonts/The\ Seasons\ Italic.ttf');
}

@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    src: url('/fonts/SFPRODISPLAYMEDIUM.OTF');
}

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.the-seasons-light {
    font-family: 'The Seasons';
}

.the-seasons-regular {
    font-family: 'The Seasons';
    font-weight: 400;
    font-style: normal;
}

.the-seasons-italic {
    font-family: 'The Seasons Italic';
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.raleway-light {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-medium {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.full-time-badge {
    color: #4876B6;
    font-weight: bold;
    background-color: #c7ddfa;
}

.part-time-badge {
    color: #e99921;
    font-weight: bold;
    background-color: #fbe9d2;
}

.service {
    overflow: hidden;
}

.service {
    transition: transform .2s;
}

.service > a > div {
    transition: transform .2s;
}
.service > a > div:hover {
    /* filter: brightness(50%); */
    transition-duration: 300ms;
    transform: scale(1.1);
}

.shipping-service {
    overflow: hidden;
    cursor: pointer;
}

.shipping-service {
    transition: transform .2s;
}

.shipping-service>div {
    transition: transform .2s;
}

.shipping-service>div:hover {
    /* filter: brightness(50%); */
    transition-duration: 300ms;
    transform: scale(1.1);
}



.jv-card {
    filter: saturate(0%);
    cursor: pointer;
}

.jv-card:hover {
    filter: saturate(100%);
    transition-duration: 200ms;
}

.items {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.item{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.item-active {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.item-active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.item-option {
    display: inline-block;
    position: relative;
    cursor: pointer;
}


.item-option::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.item-option:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-text::selection {
    color: rgb(0, 0, 0);
    background: #4876b6a7;
}
.fade-in {
    -webkit-animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5;
    -webkit-animation-fill-mode: forwards;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-out {
    -webkit-animation-name: fadeOutOpacity;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.5;
    -webkit-animation-fill-mode: forwards;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInOpacity {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeOutOpacity {
     0% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }

.intro-text {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
}

.sf_pro_bold {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
}

.hero-text {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.intro-details {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow: hidden;
}

.jv-right {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    overflow: hidden;
}

.hero-text > div {
    overflow: hidden;
}

.intro-details > div {
    overflow: hidden;
}

.intro-paragraph > p {
    white-space: normal !important;
}

.jv-right > div {
    overflow: hidden;
}

.intro-details > div > p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}

.jv-right > div > p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}

.hero-text > div > p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap;
    margin: 0;
    line-height: 117%;
}

div.intro-details > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.intro-details > div:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

div.jv-right > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.jv-right > div:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

div.intro-details > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.intro-details > div:nth-child(3) {
    -webkit-animation-delay: 0.095s;
    animation-delay: 0.09s;
}

div.jv-right > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.jv-right > div:nth-child(3) {
    -webkit-animation-delay: 0.095s;
    animation-delay: 0.09s;
} 

div.hero-text > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}


div.hero-text > div:nth-child(2) > p {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

div.hero-text > div {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.hero-text > div:nth-child(3) > p {
    -webkit-animation-delay: 0.095s;
    animation-delay: 0.09s;
}



.individual-hero-text {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.intro-text {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.intro-text-2 {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.history-text {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.intro-subtext {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.intro-paragraph {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.right-text {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.benefits {
    -webkit-animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

.buttons {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
    -webkit-animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

/* .bento-container {
    animation-timeline: scroll(block self);
} */

div.service {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.service:nth-child(2) {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

div.service {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.service:nth-child(3) {
    -webkit-animation-delay: 0.095s;
    animation-delay: 0.095s;
}

div.service {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.service:nth-child(4) {
    -webkit-animation-delay: 0.105s;
    animation-delay: 0.095s;
}

div.service {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

div.service:nth-child(5) {
    -webkit-animation-delay: 0.195s;
    animation-delay: 0.095s;
}

.service {
    -webkit-animation: slide-up-images 1s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-up-images 1s cubic-bezier(0.65, .01, 0.35, 1) both;
}

.title-text {
    -webkit-animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

.contact-section, .contact-header-title {
    -webkit-animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-up-text 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}
/* 
.hero-home-image {
    opacity: 1;
    -webkit-animation: linear disappear both;
    -webkit-animation-timeline: --disappearing-image;
    -webkit-animation-range: entry 100% cover 99%;
    view-timeline-name: --disappearing-image;
    view-timeline-axis: block;
    animation: linear disappear both;
    animation-timeline: --disappearing-image;
    animation-range: entry 100% cover 99%;
    overflow: hidden;
    white-space: nowrap;
} */


.wharf-image {
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;
    animation: linear reveal both;
    animation-timeline: --revealing-image;
    animation-range: entry 15% cover 40%;
}

.floral-section {
    view-timeline-name: --revealing-image;
    view-timeline-axis: block;
    animation: linear reveal both;
    animation-timeline: --revealing-image;
    animation-range: entry 12% cover 35%;
}

.wharf-text {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
    view-timeline-name: --slide-text;
    view-timeline-axis: block;
    animation: linear slide-up both;
    animation-timeline: --slide-text;
    animation-range: entry 15% cover 80%;
}

.intro-header {
    font-family: 'SF Pro Display Medium';
    font-weight: 500;
    view-timeline-name: --slide-text;
    view-timeline-axis: block;
    animation: linear slide-up both;
    animation-timeline: --slide-text;
    animation-range: entry 5% cover 60%;
}

.service-container {
    view-timeline-name: --slide-image;
    view-timeline-axis: block;
    animation: linear slide-down both;
    animation-timeline: --slide-image;
    animation-range: entry 30% cover 100%;
}

.image-above {
    view-timeline-name: --slide-text;
    view-timeline-axis: block;
    animation: linear slide-down both;
    animation-timeline: --slide-text;
    animation-range: entry 30% cover 100%;
}

.image-below {
    view-timeline-name: --slide-text;
    view-timeline-axis: block;
    animation: linear slide-up both;
    animation-timeline: --slide-text;
    animation-range: entry 15% cover 60%;
}

.service-container-low {
    view-timeline-name: --slide-image;
    view-timeline-axis: block;
    animation: linear slide-up both;
    animation-timeline: --slide-image;
    animation-range: entry 15% cover 60%;
}

.bento-large-home {
    transform: translate(120px, 50%);
}

.article {
    -webkit-animation: slide-right 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-right 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

.article-image {
    -webkit-animation: slide-left 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-left 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

.slide-left {
    -webkit-animation: slide-left 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-left 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

.slide-right {
    -webkit-animation: slide-right 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: slide-right 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
}

/* .landing-top {
    -webkit-animation: fade-in 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
    animation: fade-in 0.75s cubic-bezier(0.65, .01, 0.35, 1) both;
} */

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes slide-up-text {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up-text {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }


    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-up-images {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-up-images {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

@-webkit-keyframes big-slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes big-slide-up {
    0% {
        transform: translateY(200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes zoom {
    from {
        transform: translateY(0);
        clip-path: inset(0 12% 0 15%);
        border-radius: 12px;
        opacity: 0;
    }

    to {
        transform: translateY(400px);
        clip-path: inset(0% 0% 0% 0%);
        opacity: 1;
    }
}

@-webkit-keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.intro-icon-box {
    width: 125px;
    height: 125px;
    flex-shrink: 0;
    border-radius: var(--radius-sm, 4px);
    background: var(--surface-surface-brand-secondary, #EDEBE5);
    box-shadow: 0px 4px 4px 0px rgba(115, 115, 115, 0.25);
}

.intro-icon {
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    background: url("./world.png") rgba(255, 255, 255, 0) 0% / cover no-repeat;
}

.construction-icon-box {
    width: 125px;
    height: 125px;
    flex-shrink: 0;
    border-radius: var(--radius-sm, 4px);
    background: var(--surface-surface-brand-secondary, #EDEBE5);
    box-shadow: 0px 4px 4px 0px rgba(115, 115, 115, 0.25);
}

.construction-icon {
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    background: url("./construction.png") rgba(255, 255, 255, 0) 0% / cover no-repeat;
}


.services-text {
    letter-spacing: 3.2px;
}

.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* background-color: lime; */
    width: 100%;
    /* scale: 0 1; */
    transform-origin: left;
    /* animation: scroll-watcher ease-in; */
    /* animation-timeline: scroll(); */
}

.navigationBar {
    -webkit-animation: scroll-watcher ease-in;
    animation: scroll-watcher ease-in;
    -webkit-animation-timeline: scroll();
    animation-timeline: scroll();
}

.flatpickr-calendar.animate.inline {
    width: 100% !important;
}



.flatpickr-innerContainer {
    justify-content: center;
}

.flatpickr-day.selected {
    background: #df839c !important;
    border: #df839c !important;
}




.flatpickr-day.selected.prevMonthDay {
    background: #df839c;
    border: #df839c;
}

.flatpickr-day.selected:hover {
    background: #df839c;
    border: #df839c;
}

@keyframes scroll-watcher {
    0% { background-color: rgba(0, 10, 145, 0); }
    2% { background-color: rgba(61, 57, 56, 0.98); }
    100% { background-color: rgba(61, 57, 56, 0.98); }
}

@-webkit-keyframes scroll-watcher {
     0% {
         background-color: rgba(0, 10, 145, 0);
     }

     2% {
         background-color: rgba(61, 57, 56, 0.98);
     }

     100% {
         background-color: rgba(61, 57, 56, 0.98);
     }
 }

.shipping-cursor {
    cursor: url("./Shipping.png"), auto;
}

/* .jv-container {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><rect x="0" y="0" width="30" height="30" fill="red" /></svg>'), auto;
} */